<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Champs Type -->
    <div class="form-group">
      <label for="typePresta">Type</label>
      <input formControlName="typePresta" type="text" class="form-control" id="typePresta">
    </div>

    <!-- Champs Client -->
    <div class="form-group">
      <label for="client">Client</label>
      <input formControlName="client" type="text" class="form-control" id="client">
    </div>
    <!-- <div *ngIf="form.get('client').invalid && form.get('client').touched" class="alert alert-danger">Champs invalide</div> -->
    <div *ngIf="form.get('client').errors?.required && form.get('client').touched" class="alert alert-danger">Champs vide</div>
    <div *ngIf="form.get('client').errors?.minlength && form.get('client').touched" class="alert alert-danger">Min 5 char</div>

    <div class="form-group">
      <label for="nbJours">Nombre jours</label>
      <input formControlName="nbJours" type="number" class="form-control" id="nbJours">
    </div>

    <div class="form-group">
      <label for="tjm">TJM</label>
      <input formControlName="tjm" type="number" class="form-control" id="tjm">
    </div>

    <div class="form-group">
      <label for="tva">TVA</label>
      <input formControlName="tva" type="number" class="form-control" id="tva">
    </div>
    <div *ngIf="form.get('tva').invalid && form.get('tva').touched" class="alert alert-danger">TVA vide</div>

    <div class="form-group">
      <label for="state">Etat</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let s of states" [ngValue]="s">{{ s }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="comment">Commentaires</label>
      <textarea formControlName="comment" class="form-control" id="comment"></textarea>
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Sauvegarder</button>

  </form>
</div>
