<app-table-light *ngIf="orders" [headers]="headers">
  <tr *ngFor="let c of orders">
    <td>{{ c.typePresta }}</td>
    <td>{{ c.client }}</td>
    <td [appColorDay]="c.nbJours">{{ c.nbJours | days2 }}</td>
    <td>{{ c.tjmHT }}</td>
    <td>{{ c | total | currency: 'EUR'}}</td>
    <td>{{ c | total: 'TTC' | currency: 'EUR'}}</td>
    <!-- <td [appColorState]="c.state">
      <select (change)="changeState(c, $event)">
        <option *ngFor="let s of states" [value]="s" [selected]="s === c.state">{{ s }}</option>
      </select>
    </td> -->
    <td [appColorState]="c.state">
      <select (change)="changeState(c, $event)">
        <option *ngFor="let stateEnum of states"
         [value]="stateEnum" [selected]="stateEnum === c.state">{{ stateEnum }}</option>
      </select>
    </td>
  </tr>
</app-table-light>

<app-btn [label]="btnRoute.label" [route]="btnRoute.route"></app-btn>
<app-btn [label]="btnHref.label" [href]="btnHref.href"></app-btn>
<app-btn [label]="btnAction.label" [action]="btnAction.action" (clicked)="openPopup()"></app-btn>
<app-btn [action]="btnFilter.action" (clicked)="filterState()">
  <app-icon-filter></app-icon-filter>
</app-btn>
